.topcontainer{
    background-color: #B0D9B1;
    padding: 6rem;
    padding-top: 3rem;
    height: 100%;
    position:relative;
    align-items: center;
    text-align: center;
}
h1{
    margin: 50px auto 3rem auto;
    font-family: 'Sacramento', cursive;
    font-size: 4.625rem;
    color: #445D48;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #445D48;
    font-weight: normal;
    padding: 30px;;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #445D48;
}
p{
    line-height: 2;
}
body{
    color:#40514E;
    margin:0;
    text-align: center;
    align-items: center;
    font-family: 'Merriweather', serif;
}
.middle-container{
    background-color: #D0E7D2;
    /* margin: 100px 0 100px 0; */
    align-items: center;
    text-align: center;
}
.bottom-container{
    /* margin: 100px 0px 0px 0px; */
    background-color: #79AC78;
    padding: 50px 0 20px;
    align-items: center;
    text-align: center;
}
.footer-link{
    color: #445D48;
    font-family: 'Montserrat', sans-serif;
    margin:10px 20px;
    text-decoration: none;
}
.copyright{
    color: #445D48;
    font-size: 0.8rem;
    padding: 20px 0;
}

a:hover{
    color: #EAf6f6;
}
.pro{
    text-decoration: underline;
}
.top-cloud{
    position:relative;
    right:300px;
    top:50px;
    border-radius: 10px;
}
.blockchain{
    position: relative;
    border-radius: 10px;
    left: 17rem;
    width: 17rem;
    height: 11rem;
}
.leader{
    position: relative;
    left: 150px;
    bottom: 170px;
    height: 15rem;
    width: 20rem;
    border-radius: 10px;
}
.bottom-cloud{
    position:relative;
    right: 150px;
    bottom:390px;
    border-radius: 10px;
}
.skill-row{
    width:50%;
    margin: 100px auto;
    text-align: left;
}
.image{
    width:25%;
    float: right;
    margin-left: 30px;
}
.codee{
    width:25%;
    float: left;
    margin-right: 30px;
}
hr{
    border: 6px dotted #4c4e4e;
    border-bottom: none;
    width:7%;
    margin: 100px auto;
}
.profile{
    padding:30px;
}
.intro{
    width:30%;
    margin: 0 auto;
}
.final{
    color:#445D48;
    width:30%;
    margin: 50px auto;
}
.btn {
    background: #79AC78;
    background-image: -webkit-linear-gradient(top, #79AC78,  #B0D9B1);
    background-image: -moz-linear-gradient(top, #79AC78,  #B0D9B1);
    background-image: -ms-linear-gradient(top, #79AC78,  #B0D9B1);
    background-image: -o-linear-gradient(top, #79AC78,  #B0D9B1);
    background-image: linear-gradient(to bottom, #79AC78,  #B0D9B1);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #eff2f2;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 50px auto;
  }
  
  .btn:hover {
    background: #9EB384;
    background-image: -webkit-linear-gradient(top, #445D48, #CEDEBD);
    background-image: -moz-linear-gradient(top, #445D48, #CEDEBD);
    background-image: -ms-linear-gradient(top, #445D48, #CEDEBD);
    background-image: -o-linear-gradient(top, #445D48, #CEDEBD);
    background-image: linear-gradient(to bottom, #445D48, #CEDEBD);
    text-decoration: none;
  }
  .profile_img{
    width: 15rem;
    height: 15rem;
  }